
.input-card {
 
    width: 50vh;
    height: 50vh;
}
.view-password{
    font-weight: 400;
    cursor: pointer;
    color: #008095;
}
.fw-1-2rem{
    font-size: 1.2rem !important;
}

.fs-20{
    font-size: 20px !important;
}
.fw-401{
    font-weight: 401;
}